.customcell {
  background: #f6e7ff !important;
  color: #a333c8 !important;
  font-weight: 700;
}

.customfilter {
  background: #ffedde !important;
  color: #f2711c !important;
  font-weight: 700;
}